-- Cabal config for applying constraints.
-- These constraints should lok similar to Debian jessie
-- Debian jessie ships with GHC 7.6.3.
constraints:
      AMI == 0.1,
      Chart == 1.3,
      Crypto == 4.2.5.1,
      Diff == 0.3.0,
      FileManip == 0.3.6.2,
      GLFW == 0.5.1.0,
      GLUT == 2.4.0.0,
      HFuse == 0.2.4.2,
      HJScript == 0.6.1,
      HJavaScript == 0.4.7,
      HStringTemplate == 0.7.3,
      HaXml == 1:1.23.3,
      HaskellForMaths == 0.4.5,
      HsSyck == 0.50,
      IOSpec == 0.2.5,
      LibZip == 0.11.1,
      MaybeT == 0.1.2,
      MemoTrie == 0.6.2,
      MonadCatchIO-mtl == 0.3.1.0,
      MonadRandom == 0.1.13,
      NumInstances == 1.3,
      OpenAL == 1.4.0.2,
      OpenGL == 2.8.0.0,
      PSQueue == 1.1,
      QuickCheck == 2.7.6,
      RSA == 1.2.2.0,
      Ranged-sets == 0.3.0,
      SDL == 0.6.4,
      SDL-gfx == 0.6.0,
      SDL-image == 0.6.1,
      SDL-mixer == 0.6.1,
      SDL-ttf == 0.6.2,
      SHA == 1.6.1,
      SMTPClient == 1.0.4,
      Shellac == 0.9.5.2,
      SimpleEA == 0.2.1,
      StateVar == 1.0.0.0,
      Stream == 0.4.6,
      TinyURL == 0.1.0,
      X11 == 1.6.1.2,
      X11-xft == 0.3.1,
      acid-state == 0.12.2,
      active == 0.1.0.16,
      adjunctions == 4.1.0.1,
      aeson == 0.7.0.3,
      arbtt == 0.8.1,
      asn1-data == 0.7.1,
      attoparsec-enumerator == 0.3.1,
      augeas == 0.6.1,
      authenticate == 1.3.2.9,
      base-unicode-symbols == 0.2.2.4,
      base64-bytestring == 1.0.0.1,
      bifunctors == 4.1.1.1,
      binary-communicator == 1.0.2.1,
      binary-shared == 0.8.3,
      bindings-gpgme == 0.1.4,
      bindings-libzip == 0.11,
      bitarray == 0.0.1,
      blaze-builder == 0.3.3.2,
      blaze-builder-enumerator == 0.2.0.6,
      blaze-html == 0.7.0.2,
      blaze-markup == 0.6.1.0,
      blaze-textual == 0.2.0.9,
      bloomfilter == 1.2.6.10,
      boomerang == 1.4.3,
      brainfuck == 0.1,
      byteorder == 1.0.4,
      bytestring-lexing == 0.4.3.2,
      bzlib == 0.5.0.4,
      c2hs == 0.17.2,
      cabal-file-th == 0.2.3,
      cairo == 0.12.5.3,
      case-insensitive == 1.1.0.2,
      categories == 1.0.6,
      cautious-file == 1.0.2,
      cereal == 0.4.0.1,
      cereal-conduit == 0.7.2.2,
      certificate == 1.3.9,
      cgi == 3001.1.8.5,
      citeproc-hs == 0.3.9,
      clientsession == 0.9.0.3,
      clock == 0.2.0.0,
      clocked == 0.4.1.2,
      cmdargs == 0.10.9,
      colour == 2.3.3,
      comonad == 4.2,
      conduit == 1.1.6,
      contravariant == 0.6.1.1,
      cookie == 0.4.1.2,
      cpphs == 1.18.5,
      cprng-aes == 0.5.2,
      cpu == 0.1.2,
      crypto-api == 0.13.2,
      crypto-conduit == 0.5.4,
      crypto-pubkey-types == 0.4.2.2,
      cryptocipher == 0.6.2,
      cryptohash == 0.11.6,
      css-text == 0.1.2.1,
      csv == 0.1.2,
      csv-conduit == 0.6.3,
      curl == 1.3.8,
      data-accessor == 0.2.2.6,
      data-accessor-mtl == 0.2.0.4,
      data-accessor-template == 0.2.1.11,
      data-binary-ieee754 == 0.4.2.1,
      data-default == 0.5.3,
      data-inttrie == 0.0.8,
      data-lens == 2.10.5,
      data-memocombinators == 0.4.4,
      datetime == 0.2.1,
      debian == 3.83.3.1,
      diagrams == 1.2,
      diagrams-cairo == 1.2.0.2,
      diagrams-core == 1.2.0.2,
      diagrams-lib == 1.2.0.3,
      digest == 0.0.1.2,
      dimensional == 0.10.1.2,
      directory-tree == 0.11.0,
      distributive == 0.4.4,
      download-curl == 0.1.4,
      dpkg == 0.0.3,
      dyre == 0.8.11,
      edit-distance == 0.2.1.2,
      email-validate == 1.0.0,
      entropy == 0.2.1,
      enumerator == 0.4.19,
      erf == 2.0.0.0,
      event-list == 0.1.1.1,
      executable-path == 0.0.3,
      explicit-exception == 0.1.7.3,
      failure == 0.2.0.3,
      fast-logger == 2.1.5,
      fclabels == 1.1.4.3,
      feed == 0.3.9.2,
      file-embed == 0.0.6,
      filestore == 0.6.0.3,
      foo == 0.2.1.1,
      free == 4.9,
      gconf == 0.12.1.1,
      gd == 3000.7.3,
      ghc-events == 0.4.2.0,
      ghc-mtl == 1.0.1.2,
      ghc-paths == 0.1.0.9,
      gio == 0.12.5.3,
      github == 0.8,
      gitit == 0.10.4,
      glib == 0.12.5.3,
      gnutls == 0.1.4,
      gtk == 0.12.5.6,
      gtksourceview2 == 0.12.3.1,
      hS3 == 0.5.7,
      haddock == 2.13.1,
      hakyll == 4.5.4.0,
      hamlet == 1.1.9.2,
      happstack == 7.0.2,
      happstack-server == 7.3.7,
      harp == 0.4,
      hashable == 1.2.1.0,
      hashed-storage == 0.5.10,
      hashmap == 1.3.0.1,
      hashtables == 1.0.1.8,
      haskeline == 0.7.1.3,
      haskell-lexer == 1.0,
      haskell-src == 1.0.1.6,
      haskell-src-exts == 1.14.0.1,
      haskelldb-hdbc == 2.2.2,
      haskelldb-hdbc-odbc == 2.1.2,
      haskelldb-hdbc-postgresql == 2.1.2,
      haskelldb-hdbc-sqlite3 == 2.1.2,
      haskore == 0.2.0.4,
      haxr == 3000.9.0.1,
      hbro == 1.1.2.2,
      hbro-contrib == 1.1.1.0,
      hcard == 0.0,
      hinotify == 0.3.5,
      hint == 0.3.3.6,
      hjsmin == 0.1.4.7,
      hledger == 0.23.3,
      hledger-interest == 1.4.3,
      hledger-lib == 0.23.3,
      hledger-web == 0.23.3,
      hlint == 1.8.61,
      hoauth == 0.3.5,
      hostname == 1.0,
      hs-bibutils == 4.12,
      hscurses == 1.4.1.2,
      hsemail == 1.7.2,
      hsp == 0.9.2,
      hspec == 1.11.0,
      hsql == 1.8.2,
      hsql-mysql == 1.8.2,
      hsql-odbc == 1.8.2,
      hsql-postgresql == 1.8.2,
      hsql-sqlite3 == 1.8.2,
      hsx == 0.10.4,
      html-conduit == 1.1.0.5,
      http-conduit == 2.1.2.3,
      http-date == 0.0.2,
      http-types == 0.8.5,
      iconv == 0.4.1.2,
      ieee754 == 0.7.3,
      io-choice == 0.0.5,
      io-storage == 0.3,
      irc == 0.5.1.0,
      iteratee == 0.8.9.6,
      ixset == 1.0.5,
      json == 0.5,
      keys == 3.10.1,
      lambdabot-utils == 4.2.2,
      language-c == 0.4.2,
      language-javascript == 0.5.13,
      largeword == 1.0.5,
      leksah == 0.12.1.3,
      leksah-server == 0.12.1.2,
      libtagc == 0.12.0,
      lifted-base == 0.2.0.3,
      logict == 0.6.0.2,
      ltk == 0.12.1.0,
      maccatcher == 2.1.5,
      markov-chain == 0.0.3.3,
      math-functions == 0.1.1.0,
      mbox == 0.1,
      mersenne-random == 1.0.0.1,
      midi == 0.2.1.3,
      mighttpd2 == 3.1.2,
      mime-mail == 0.4.1.2,
      mmap == 0.5.8,
      monad-control == 0.3.2.2,
      monad-loops == 0.4.2.1,
      monad-par == 0.1.0.3,
      monads-tf == 0.1.0.2,
      monoid-transformer == 0.0.2,
      mtl == 2.1.2,
      mtlparse == 0.1.2,
      mwc-random == 0.13.1.2,
      netwire == 5.0.0,
      network == 2.4.1.2,
      network-protocol-xmpp == 0.4.6,
      newtype == 0.2,
      non-negative == 0.1.1,
      numbers == 3000.1.0.3,
      numeric-quest == 0.2,
      numtype == 1.0,
      oeis == 0.3.1,
      openpgp-asciiarmor == 0.1,
      pandoc-types == 1.12.4.1,
      pango == 0.12.5.3,
      parallel == 3.2.0.4,
      parseargs == 0.1.3.2,
      pastis == 0.1.2,
      path-pieces == 0.1.4,
      patience == 0.1.1,
      pem == 0.2.2,
      persistent == 1.3.1.1,
      persistent-sqlite == 1.3.0.5,
      persistent-template == 1.3.1.4,
      postgresql-simple == 0.4.0.2,
      pretty-show == 1.6.6,
      primes == 0.2.1.0,
      pureMD5 == 2.1.2.1,
      pwstore-fast == 2.4.1,
      random == 1.0.1.1,
      random-shuffle == 0.0.4,
      ranges == 0.2.4,
      reactive-banana == 0.7.1.3,
      readline == 1.0.3.0,
      recaptcha == 0.1,
      regex-tdfa == 1.0,
      regexpr == 0.5.4,
      resource-pool == 0.2.1.1,
      resourcet == 1.1.2.3,
      safecopy == 0.8.2,
      semigroupoids == 4.2,
      semigroups == 0.15.3,
      sendfile == 0.7.9,
      sfml-audio == 0.7.0.1816,
      shakespeare == 1.2.1.1,
      shakespeare-css == 1.0.7.4,
      shakespeare-i18n == 1.0.0.5,
      shakespeare-js == 1.2.0.4,
      shakespeare-text == 1.0.2,
      shelltestrunner == 1.3.4,
      show == 0.6,
      silently == 1.2.4.1,
      simple-sendfile == 0.2.14,
      simpleirc == 0.3.0,
      skein == 1.0.9,
      smallcheck == 1.1.1,
      socks == 0.5.4,
      split == 0.2.2,
      static-hash == 0.0.1,
      statistics == 0.10.2.0,
      stm == 2.4.2,
      strict == 0.3.2,
      strict-concurrency == 0.2.4.1,
      strptime == 1.0.6,
      svgcairo == 0.12.1,
      syb == 0.4.0,
      syb-with-class == 0.6.1.5,
      syb-with-class-instances-text == 0.0.1,
      system-fileio == 0.3.11,
      system-filepath == 0.4.12,
      tagged == 0.7.2,
      tagstream-conduit == 0.5.5.1,
      tar == 0.4.0.1,
      template == 0.2.0.9,
      temporary == 1.2.0.3,
      terminfo == 0.3.2.5,
      test-framework-th-prime == 0.0.6,
      texmath == 0.6.6.1,
      text == 0.11.3.1,
      text-icu == 0.6.3.7,
      threadscope == 0.2.3,
      tls == 1.2.9,
      tokyocabinet-haskell == 0.0.5,
      transformers == 0.3.0.0,
      transformers-base == 0.4.1,
      type-level == 0.2.4,
      unix-bytestring == 0.3.5.4,
      unix-compat == 0.4.0.0,
      unlambda == 0.1.3,
      unordered-containers == 0.2.5.0,
      uri == 0.1.6.2,
      url == 2.1.2,
      utf8-light == 0.4.0.1,
      utility-ht == 0.0.10,
      uuagc-cabal == 1.0.4.0,
      uuid == 1.3.3,
      vault == 0.3.0.3,
      vector == 0.10.0.1,
      vector-algorithms == 0.6.0.3,
      vector-space == 0.8.6,
      vector-space-points == 0.1.2.0,
      void == 0.6.1,
      vte == 0.12.1,
      vty == 5.2.3,
      wai == 3.0.1.1,
      wai-app-file-cgi == 3.0.1,
      wai-app-static == 3.0.0.1,
      wai-extra == 3.0.1.2,
      wai-logger == 2.1.1,
      warp == 3.0.0.5,
      warp-tls == 3.0.0,
      web-routes == 0.27.6,
      webkit == 0.12.3,
      xdg-basedir == 0.2.2,
      xhtml == 3000.2.1,
      xml == 1.3.13,
      xml-conduit == 1.2.1,
      xml-types == 0.3.4,
      xml2html == 0.2.0,
      xss-sanitize == 0.3.5.2,
      yaml == 0.8.9.1,
      yaml-light == 0.1.4,
      yesod == 1.2.6.1,
      yesod-auth == 1.3.4,
      yesod-core == 1.2.19,
      yesod-form == 1.3.15,
      yesod-markdown == 0.8.5,
      yesod-persistent == 1.2.3,
      yesod-static == 1.2.4,
      yesod-test == 1.2.3.2,
      zip-archive == 0.2.3.4,
      zlib == 0.5.4.1,
      zlib-bindings == 0.1.1.5,
      zlib-enum == 0.2.3.1
